<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MadLib Form</title>
  </head>
  <body class="container">
    <h1>Fill in the blanks to make a MadLib!</h1>
    <form action="/MadLibLetter" method="post">
     <label for="noun1">Give me a noun!</label>
     <input id="noun1" name="noun1" type="text"><br>
     <label for="name ">Give me a name!</label>
     <input id="name" name="name" type="text"><br>
     <label for="location">Give me a location!</label>
     <input id="location" name="location" type="text"><br>
     <label for="verb1">Give me a verb!</label>
     <input id="verb1" name="verb1" type="text"><br>
     <label for="number">Give me a number!</label>
     <input id="number" name="number" type="text"><br>
     <label for="noun2">Give me another noun!</label>
     <input id="noun2" name="noun2" type="text"><br>
     <label for="adjective">Give me an adjective!</label>
     <input id="adjective" name="adjective" type="text"><br>
     <label for="exclamation">Give me an exclamation!</label>
     <input id="exclamation" name="exclamation" type="text"><br>
     <label for="verb2">Give me another verb!</label>
     <input id="verb2" name="verb2" type="text"><br>
     <button type="submit">Make that MadLib!</button>
    </form>
  </body>
</html>
